{% extends "layout.html" %}

{% block contenido %}
<div id="wrapper">
<header>Coinfest Bogotá 2015</header>
<article>
  <div id="infoImages">
    <div id="photo">
    <img src="/media/{{ photo }}" style="width:180px;height:180px;border-radius:50%"></img>
    </div>
    <div id="social">{{ social }}</div>
    <div id="qr">{{ citizen_hash }}</div>
  </div>
  <div id="info">
    <ul id="infoList">
      <li class="dataHeader">Nombres</li>
      <li class="dataInfo">{{ name }}</li>
      <li class="dataHeader">Apellidos</li>
      <li class="dataInfo">{{ lastname }}</li>
      <li class="dataHeader">Fecha</li>
      <li class="dataInfo">{{ register_time }}</li>
      <li class="dataHeader">Block</li>
      <li class="dataInfo">{{ blockindex }}</li>
      <li class="hash">{{ blockmerkele }}</li>
      <li class="dataHeader">Expira</li>
      <li class="dataInfo">{{ blockexpiration }}</li>
      <li id="verification">{{ key_details }}</li>
    </ul>
  </div>
</article>
<footer>
  <div id="fingerprint"><img id="key_min" src="/static/img/keyimg.png"></img> {{ key_fingerprint }}</div>
</footer>
</div>
{% endblock %}